<div id="{{component_id}}" name="n_{{component_id}}" class="w-full" hx-get="/editableEg/" hx-trigger="click" hx-target="#{{component_id}}"
    hx-swap="outerHTML"
    hx-vars="{'component_id': '{{component_id}}', 'beforeVal': '{{afterVal}}', 'id': '{{id}}', 'field': '{{field}}'}">
    {{afterVal}}
</div>

    {% for rec in table_contents %}
        <td class="border border-dotted border-gray-500" id="{{rec.sku}}" hx-swap-oob="true" hx-swap="outerHTML">            
        </td> 
    {% endfor %}
    
    {% for diff in mydf_diff %} 
    {% set rec_index = loop %} 
    {% for col in cols %}

    <div class="{{mydf_diff_colors[rec_index.index-1][col]}} jamadu rounded-full w-1/2 m-1 text-center font-semibold" hx-swap-oob="true" hx-swap="outerHTML" id="color_{{col}}_{{id}}"
    name="n_color_{{col}}_{{id}}" hx-vars="'component_id': 'color_{{col}}_{{id}}', 'beforeVal': '{{diff[col]}}', 'id': '{{id}}', 'field': '{{col}}', 'color': '{{mydf_diff_colors[rec_index.index-1][col]}}' "
    hx-get="/change_editable/" hx-trigger="click" hx-target = "#color_{{col}}_{{id}}" hx-swap = "outerHTML"
    >
        {{diff[col]}} 
    </div>
    {% endfor %}
    {% endfor %}    


<script>
    
    showChart()
    
    function showChart() {
        cdat = JSON.parse('{{sparkline|tojson|safe}}')
        tab = JSON.parse('{{table_contents|tojson|safe}}')
        console.log(cdat)
        var layout = {
                height: 60, 
                width: 230,           
                margin: {
                    l: 1,
                    r: 1,
                    b: 1,
                    t: 1,
                    pad: 0
                },
                xaxis: {
                    visible: false,
                },
                yaxis: {
    
                    visible: false,
                    zeroline: false
                }
            };
    
        for (let i = 0; i < tab.length; i++) {
    
            var trace1 = {
                x: (cdat['x0']),
                y: (cdat['y0'][i]),
                type: 'line'
            };
            var data = [trace1]        
            Plotly.newPlot(tab[i]['sku'], data, layout,{displayModeBar: false});
        }
    }
    
    
    </script>